.table-curved > tbody > tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}
.table-curved > tbody > tr:nth-of-type(odd) > td:last-child {
  background-color: #fff !important;
}
td:empty {
  visibility: hidden;
}
h5{
    word-wrap: break-word;
}
.table-curved tr:first-child{
    background-color: #f8f8f8 !important;
}
.panel {
    overflow: auto;
}
.table-curved{
    border-collapse: separate;  
    table-layout: fixed !important;
}

.table-curved td, .table-curved th {
    border-left: 1px solid #ccc;
}
.table-curved tr:first-child td:first-child {
    border-top-left-radius: 6px;
}
.table-curved tr:first-child td:nth-last-child(2) {
    border-top-right-radius: 6px;
}
.table-curved tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}
.table-curved tr:last-child td:nth-last-child(2) {
    border-bottom-right-radius: 6px;
}
.table-curved tr td:nth-last-child(2){
    border-right: 1px solid #ccc;
}
.table-curved tr:last-child td{
    border-bottom: 2px solid #ccc;
}

.table-curved > thead > tr > th:last-child,
.table-curved > tbody > tr > th:last-child,
.table-curved > tfoot > tr > th:last-child,
.table-curved > thead > tr > td:last-child,
.table-curved > tbody > tr > td:last-child,
.table-curved > tfoot > tr > td:last-child {
  border: none !important;
}
.dataTables_wrapper table thead{
    display:none;
}
hr.small{
    margin:4px 0px;
}
.align-center{
    float:none;
    vertical-align: middle !important;
    text-align: center;
    font-weight: bold;
}
.bottom-buffer { margin-bottom:10px; }

.notice {
    padding: 15px;
    background-color: #fff;
    border-left: 6px solid #7f7f84;
    border-right: 1px solid #eee !important;
    border-top: 1px solid #eee !important;
    border-bottom: 1px solid #eee !important;
    margin-bottom: 10px;
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info>strong {
    color: #45ABCD;
}
.notice-warning {
    border-color: #FEAF20;
}
.notice-warning>strong {
    color: #FEAF20;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}
.list-small{
    font-size: 0.85em;
}
.list-group-item-small{
    padding: 10px 6px;
}