.img-responsive {
    margin: 0 auto;
}
.progress {
    margin-bottom:3px;
}
.statsheader {
    font-weight:bold;
    float: left;
    text-align:left;
}
.statsvalue {
    float: right;
    text-align:right;
}