
#classP.panel-group .panel {
   overflow: visible;
}
#charP.panel-group .panel {
   overflow: visible;
}

.dropdown-menu {
  min-width:auto;
  width:100%;
}

/*fix header formatting*/
.noformat{
    color:#444;
    text-decoration:none!important;
}
/*more visible table borders*/
.table thead > tr > th { border-bottom: 1px solid #bbb; }
.table tbody > tr > td { border-right: 1px solid #ddd; }
.table tbody > tr > td:last-child { border:none; }
td{
    padding-right: 10px!important;
}
td:nth-child(2){
    padding-right: 3px!important;
}
th{
    text-align:center!important;
}

#panel-class-heading {
    color: #333333;
    background-color: #f5f5f5;
    border-color: #333;
}
hr.small{
    margin:7px 0px;
}
/*stats label*/
.statsLabel{
    font-weight:bold;
    font-size:0.95em;
}
.plusLeft{
    margin-top: 5px;
    padding-right:5px!important;
}
.bonusPointsRight{
    float:right;
}
#statsPointsLeft{
    float:right;
}

/*class img transition*/
#classImg{
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
/*class label transition*/
#classL{
    transition: 0.2s;
    -webkit-transition: 0.2s;
}
.table-responsive { overflow-x: initial; }

/* background image on desktop only */
@media only screen and (min-width: 768px){
    
body {
    background-image: url();
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, .85);
    background-blend-mode: color;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
}
select{
    text-align: right;
    text-align: -webkit-right;
}
option{
    direction: rtl;
}

.statsright{
    text-align: right;
}
.cd-top {
  display: inline-block;
  position: fixed;
    padding: 5px 5px;
    text-decoration: none !important;
  bottom: 20px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  white-space: nowrap;
  background: #eeeeee;
  opacity: 0;
    color: black;
  -webkit-transition: opacity .2s 0s, visibility 0s .2s;
  -moz-transition: opacity .2s 0s, visibility 0s .2s;
  transition: opacity .2s 0s, visibility 0s .2s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    color: gray;
  -webkit-transition: opacity .2s 0s, visibility 0s 0s;
  -moz-transition: opacity .2s 0s, visibility 0s 0s;
  transition: opacity .2s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */  
     color: black;
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .7;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}

.cd-top { 
    right: 20px;
    bottom: 20px;
}

/*fix input in table width*/
.input-table{
}

/*smaller input*/
.input-xs {
    height: 24px;
    padding: 1px 2px;
    font-size: 14px;
    line-height: ;
    border-radius: 2px;
}

.input-small99 {
    padding-right:5px;
}
.vcenter {
    display: inline-block; 
    vertical-align: baseline;
    float: none;
}
.label-leftmargin{
    margin-left: 10px !important;
}
a #classLabel{
    opacity:0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

a.collapsed #classLabel {
    opacity:1;
    vertical-align: middle;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
#classLabel a {
    text-decoration: none !important;
}
.img-responsive {
    margin: 0 auto;
}
/*collapse indicator*/
.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

.progress {
    margin-bottom:3px;
}
.row.no-pad {
  margin-right:0;
  margin-left:0;
}
.row.no-pad > [class*='col-'] {
  padding-right:0px;
  padding-left:0px;
}
@media only screen and (min-width: 1024px) {
.padright{
    padding-right:5px!important;
}
.padleft{
    padding-left:5px!important;
    }}
.row{
    margin-bottom: 0px;
}

.btn-weapon{
    color: #000;
    background-color: #f5f5f5;
    border-color: #ddd;
    height:70px;
    white-space:normal;
    box-sizing: border-box!important;
}
.btn-weapon:hover,.btn-weapon:focus,.btn-weapon:active,.btn-weapon.active,.open .dropdown-toggle.btn-weapon {
    color: #000;
    background-color: #dedede;
    border-color: #bbb;
}
.btn-weapon:active,.btn-weapon.active,.open .dropdown-toggle.btn-weapon {
    background-image: none;
}
.btn-weapon.disabled,.btn-weapon[disabled],fieldset[disabled] .btn-weapon,.btn-weapon.disabled:hover,.btn-weapon[disabled]:hover,fieldset[disabled] .btn-weapon:hover,.btn-weapon.disabled:focus,.btn-weapon[disabled]:focus,fieldset[disabled] .btn-weapon:focus,.btn-weapon.disabled:active,.btn-weapon[disabled]:active,fieldset[disabled] .btn-weapon:active,.btn-weapon.disabled.active,.btn-weapon[disabled].active,fieldset[disabled] .btn-weapon.active {
    background-color: #fbfbfb;
}
.btn-weapon .badge {
    color: #fbfbfb;
    background-color: #fff;
}
/*theme fix*/
.btn{
    margin-top:0px!important;
    border-bottom-width: 3px!important;
}
/*remove button outline*/
.btn:focus,.btn:active {
   outline: none !important;
}
.btn-sw{
    color: #fff;
    background-color: #FF4136;
    border-color: #d9372e;
}

.btn-sw:hover,.btn-sw:focus,.btn-sw:active,.btn-sw.active,.open .dropdown-toggle.btn-sw {
    color: #fff;
    background-color: #b32e26;
    border-color: #80211b;
}

.btn-sw:active,.btn-sw.active,.open .dropdown-toggle.btn-sw {
    background-image: none;
}

.btn-sw.disabled,.btn-sw[disabled],fieldset[disabled] .btn-sw,.btn-sw.disabled:hover,.btn-sw[disabled]:hover,fieldset[disabled] .btn-sw:hover,.btn-sw.disabled:focus,.btn-sw[disabled]:focus,fieldset[disabled] .btn-sw:focus,.btn-sw.disabled:active,.btn-sw[disabled]:active,fieldset[disabled] .btn-sw:active,.btn-sw.disabled.active,.btn-sw[disabled].active,fieldset[disabled] .btn-sw.active {
    background-color: #FF4136;
    border-color: #d9372e;
}
.btn-sw .badge {
    color: #FF4136;
    background-color: #fff;
}

.btn-ar{
    color: #fff;
    background-color: #28B62C;
    border-color: #229b25;
}

.btn-ar:hover,.btn-ar:focus,.btn-ar:active,.btn-ar.active,.open .dropdown-toggle.btn-ar {
    color: #fff;
    background-color: #1c7f1f;
    border-color: #145b16;
}

.btn-ar:active,.btn-ar.active,.open .dropdown-toggle.btn-ar {
    background-image: none;
}

.btn-ar.disabled,.btn-ar[disabled],fieldset[disabled] .btn-ar,.btn-ar.disabled:hover,.btn-ar[disabled]:hover,fieldset[disabled] .btn-ar:hover,.btn-ar.disabled:focus,.btn-ar[disabled]:focus,fieldset[disabled] .btn-ar:focus,.btn-ar.disabled:active,.btn-ar[disabled]:active,fieldset[disabled] .btn-ar:active,.btn-ar.disabled.active,.btn-ar[disabled].active,fieldset[disabled] .btn-ar.active {
    background-color: #28B62C;
    border-color: #229b25;
}
.btn-ar .badge {
    color: #28B62C;
    background-color: #fff;
}

.btn-ma{
    color: #fff;
    background-color: #75CAEB;
    border-color: #63acc8;
}

.btn-ma:hover,.btn-ma:focus,.btn-ma:active,.btn-ma.active,.open .dropdown-toggle.btn-ma {
    color: #fff;
    background-color: #528da5;
    border-color: #3b6576;
}

.btn-ma:active,.btn-ma.active,.open .dropdown-toggle.btn-ma {
    background-image: none;
}

.btn-ma.disabled,.btn-ma[disabled],fieldset[disabled] .btn-ma,.btn-ma.disabled:hover,.btn-ma[disabled]:hover,fieldset[disabled] .btn-ma:hover,.btn-ma.disabled:focus,.btn-ma[disabled]:focus,fieldset[disabled] .btn-ma:focus,.btn-ma.disabled:active,.btn-ma[disabled]:active,fieldset[disabled] .btn-ma:active,.btn-ma.disabled.active,.btn-ma[disabled].active,fieldset[disabled] .btn-ma.active {
    background-color: #75CAEB;
    border-color: #63acc8;
}
.btn-ma .badge {
    color: #75CAEB;
    background-color: #fff;
}

.btn-me{
    color: #fff;
    background-color: #FF851B;
    border-color: #d97117;
}

.btn-me:hover,.btn-me:focus,.btn-me:active,.btn-me.active,.open .dropdown-toggle.btn-me {
    color: #fff;
    background-color: #b35d13;
    border-color: #80430e;
}

.btn-me:active,.btn-me.active,.open .dropdown-toggle.btn-me {
    background-image: none;
}

.btn-me.disabled,.btn-me[disabled],fieldset[disabled] .btn-me,.btn-me.disabled:hover,.btn-me[disabled]:hover,fieldset[disabled] .btn-me:hover,.btn-me.disabled:focus,.btn-me[disabled]:focus,fieldset[disabled] .btn-me:focus,.btn-me.disabled:active,.btn-me[disabled]:active,fieldset[disabled] .btn-me:active,.btn-me.disabled.active,.btn-me[disabled].active,fieldset[disabled] .btn-me.active {
    background-color: #FF851B;
    border-color: #d97117;
}
.btn-me .badge {
    color: #FF851B;
    background-color: #fff;
}
.btn-th{
    color: #fff;
    background-color: #730073;
    border-color: #620062;
}
.btn-th:hover,.btn-th:focus,.btn-th:active,.btn-th.active,.open .dropdown-toggle.btn-th {
    color: #fff;
    background-color: #510051;
    border-color: #3a003a;
}
.btn-th:active,.btn-th.active,.open .dropdown-toggle.btn-th {
    background-image: none;
}
.btn-th.disabled,.btn-th[disabled],fieldset[disabled] .btn-th,.btn-th.disabled:hover,.btn-th[disabled]:hover,fieldset[disabled] .btn-th:hover,.btn-th.disabled:focus,.btn-th[disabled]:focus,fieldset[disabled] .btn-th:focus,.btn-th.disabled:active,.btn-th[disabled]:active,fieldset[disabled] .btn-th:active,.btn-th.disabled.active,.btn-th[disabled].active,fieldset[disabled] .btn-th.active {
    background-color: #730073;
    border-color: #620062;
}
.btn-th .badge {
    color: #730073;
    background-color: #fff;
}

.btn-ac{
    color: #fff;
    background-color: #158CBA;
    border-color: #12779e;
}

.btn-ac:hover,.btn-ac:focus,.btn-ac:active,.btn-ac.active,.open .dropdown-toggle.btn-ac {
    color: #fff;
    background-color: #0f6282;
    border-color: #0b465d;
}

.btn-ac:active,.btn-ac.active,.open .dropdown-toggle.btn-ac {
    background-image: none;
}
.btn-ac.disabled,.btn-ac[disabled],fieldset[disabled] .btn-ac,.btn-ac.disabled:hover,.btn-ac[disabled]:hover,fieldset[disabled] .btn-ac:hover,.btn-ac.disabled:focus,.btn-ac[disabled]:focus,fieldset[disabled] .btn-ac:focus,.btn-ac.disabled:active,.btn-ac[disabled]:active,fieldset[disabled] .btn-ac:active,.btn-ac.disabled.active,.btn-ac[disabled].active,fieldset[disabled] .btn-ac.active {
    background-color: #158CBA;
    border-color: #12779e;
}
.btn-ac .badge {
    color: #158CBA;
    background-color: #fff;
}
.btn-gn{
    color: #fff;
    background-color: #CDBB99;
    border-color: #ae9f82;
}
.btn-gn:hover,.btn-gn:focus,.btn-gn:active,.btn-gn.active,.open .dropdown-toggle.btn-gn {
    color: #fff;
    background-color: #90836b;
    border-color: #675e4d;
}
.btn-gn:active,.btn-gn.active,.open .dropdown-toggle.btn-gn {
    background-image: none;
}
.btn-gn.disabled,.btn-gn[disabled],fieldset[disabled] .btn-gn,.btn-gn.disabled:hover,.btn-gn[disabled]:hover,fieldset[disabled] .btn-gn:hover,.btn-gn.disabled:focus,.btn-gn[disabled]:focus,fieldset[disabled] .btn-gn:focus,.btn-gn.disabled:active,.btn-gn[disabled]:active,fieldset[disabled] .btn-gn:active,.btn-gn.disabled.active,.btn-gn[disabled].active,fieldset[disabled] .btn-gn.active {
    background-color: #CDBB99;
    border-color: #ae9f82;
}
.btn-gn .badge {
    color: #CDBB99;
    background-color: #fff;
}
.btn-nj{
    color: #fff;
    background-color: #68a7ff;
    border-color: #588ed9;
}
.btn-nj:hover,.btn-nj:focus,.btn-nj:active,.btn-nj.active,.open .dropdown-toggle.btn-nj {
    color: #fff;
    background-color: #4975b3;
    border-color: #345480;
}
.btn-nj:active,.btn-nj.active,.open .dropdown-toggle.btn-nj {
    background-image: none;
}
.btn-nj.disabled,.btn-nj[disabled],fieldset[disabled] .btn-nj,.btn-nj.disabled:hover,.btn-nj[disabled]:hover,fieldset[disabled] .btn-nj:hover,.btn-nj.disabled:focus,.btn-nj[disabled]:focus,fieldset[disabled] .btn-nj:focus,.btn-nj.disabled:active,.btn-nj[disabled]:active,fieldset[disabled] .btn-nj:active,.btn-nj.disabled.active,.btn-nj[disabled].active,fieldset[disabled] .btn-nj.active {
    background-color: #68a7ff;
    border-color: #588ed9;
}
.btn-nj .badge {
    color: #68a7ff;
    background-color: #fff;
}
.btn-tk{
    color: #fff;
    background-color: #F56991;
    border-color: #d0597b;
}
.btn-tk:hover,.btn-tk:focus,.btn-tk:active,.btn-tk.active,.open .dropdown-toggle.btn-tk {
    color: #fff;
    background-color: #ac4a66;
    border-color: #7b3549;
}
.btn-tk:active,.btn-tk.active,.open .dropdown-toggle.btn-tk {
    background-image: none;
}
.btn-tk.disabled,.btn-tk[disabled],fieldset[disabled] .btn-tk,.btn-tk.disabled:hover,.btn-tk[disabled]:hover,fieldset[disabled] .btn-tk:hover,.btn-tk.disabled:focus,.btn-tk[disabled]:focus,fieldset[disabled] .btn-tk:focus,.btn-tk.disabled:active,.btn-tk[disabled]:active,fieldset[disabled] .btn-tk:active,.btn-tk.disabled.active,.btn-tk[disabled].active,fieldset[disabled] .btn-tk.active {
    background-color: #F56991;
    border-color: #d0597b;
}
.btn-tk .badge {
    color: #F56991;
    background-color: #fff;
}
.btn-nv{
    color: #fff;
    background-color: #A8A7A7;
    border-color: #8f8e8e;
}
.btn-nv:hover,.btn-nv:focus,.btn-nv:active,.btn-nv.active,.open .dropdown-toggle.btn-nv {
    color: #fff;
    background-color: #767575;
    border-color: #545454;
}
.btn-nv:active,.btn-nv.active,.open .dropdown-toggle.btn-nv {
    background-image: none;
}
.btn-nv.disabled,.btn-nv[disabled],fieldset[disabled] .btn-nv,.btn-nv.disabled:hover,.btn-nv[disabled]:hover,fieldset[disabled] .btn-nv:hover,.btn-nv.disabled:focus,.btn-nv[disabled]:focus,fieldset[disabled] .btn-nv:focus,.btn-nv.disabled:active,.btn-nv[disabled]:active,fieldset[disabled] .btn-nv:active,.btn-nv.disabled.active,.btn-nv[disabled].active,fieldset[disabled] .btn-nv.active {
    background-color: #A8A7A7;
    border-color: #8f8e8e;
}
.btn-nv .badge {
    color: #A8A7A7;
    background-color: #fff;
}

/*tablekaho styling*/
#tableKaho th{
    font-size:18px;
}
#tableKaho td{
    font-size: 14px;    
    vertical-align: middle !important;
}
#tableKaho td:not(:first-child)
{

 text-align:center !important;
}
